* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    color: #eceaea;
    background-color: #330033;
}

a {
    color: #eceaea;
    text-decoration: none;
}

h2, h3, h4 {
    font-weight: lighter;
    margin-top: 2%;
}

.sub-header {
    font-weight: lighter;
    font-size: 0.7em;
    margin-left: 5%;
}

.page {}

.header{
    background-color: #330033  ;
}

.header h1 {
    margin: 0;
    letter-spacing: 5px;
    padding-top: 3%;
    padding-left: 5%;
    cursor: pointer;
}

.sub {
    font-size: smaller;
    font-weight: lighter;
}

.success {
    color: #b3da85;
}

.nav {
    background-color: #512E5F;
    margin-top: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > ul > li {
    display: block;
    width: 33%;
    text-align: center;
    font-size: larger;
    height: 30px;

}

.nav > ul > li :hover {
    background-color: #7D3C98;
}

.nav a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.content{
    min-height: 70vh;
    background-color: #5F5A73;
    /*background-color: #85929E;*/
}

.content-container {
    margin: 0 auto;
    width: 60vw;
    padding-top: 5%;
}

.footer {
    display: flex;
    padding: 4%;
    font-size: 1.2em;
    justify-content: space-evenly;
}

.flash-error-msg {
    color: yellow;
    font-weight: 400;
}

.input-expenses-container {
    font-family: 'Nanum Gothic', sans-serif;
}

.input-fields {
    margin: 10px;
    margin-top: 20px;
}

.input-fields input, .input-fields select {
    width: 50vw;
    border: none;
    height: 30px;
    padding: 5px 5px;
    padding-left: 10px;
    border-radius: 8px;
}

.input-fields label {
    display: block;
    margin: 15px 5px 5px 25px;
}

.input-fields button {
    width: 50vw;
    height: 40px;
    border: none;
    box-shadow: 6px 6px 10px 1px #38323a;
    border-radius: 15px;
    background-color: bisque;
}

.expenses-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
  }
  
  .expenses-table td, .expenses-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
   
  .expenses-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #512E5F;
    color: white;
  }

.footer-title {

}

.footer-content {

}

@media (min-width: 600px) {
    .input-fields input, .input-fields select {
        width: 300px;
    }.input-fields button {
        width: 300px;
    }
    .input-expenses-container {
        width: 600px;
        /* padding-left: 15%; */
    }
}